
<section class="home" id="home">
   <div class="content">
      <p>Blog para qualquer tipo de conteúdo</p>
      <a class="btn btn-success" href="/users/create">inscreva-se</a>
   </div>  
</section>
 
 