
<header class="header">
    <a href="/" class="logo"><img src="/images/logodrywall.png"></a> 
        <nav class="navbar">
            <ul >
                <a  href="/categories">Categorias</a>
                <a  href="/articles">Artigos</a>
                <a  href="/users">Usuários</a>
                <a  href="/logout">logout</a>
            </ul>
        </nav>  
 </header>

 
